{% extends 'bases.html' %}
{% load staticfiles %}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-light fixed-top bg-light">
    <a class="navbar-brand" href="#">
        <img src="{% static 'img/logo.4a51a338.png' %}" alt="Responsive image" width="100">
    </a>
    <a class="dropdown-item" href="{% url 'upload_document' %}">Upload_document</a>
    <a class="dropdown-item" href="{% url 'list_document' %}">list_document</a>
    <ul class="navbar-nav ml-auto">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <img src="{%static 'img/icon(1).png' %}" alt="Responsive image" width="20">
            <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
        </div>
    </ul>
</nav>
<br/>
<h2>Documents</h2>
<table class="table mb-0">
    <thead>
    <tr>
        <th>Title</th>
        <th>Description</th>
        <th>link</th>
    </tr>
    </thead>
    <tbody>
    {% for d in document %}
    <tr>
        <td>
            {{d.title}}
        </td>
        <td>{{ d.description }}</td>
        <td>
            <a href="{{ d.pdf.url }}">
                {{ d.pdf.url }}
            </a>
        </td>
        <td>
            <form method="post" action="{% url 'delete_document' d.pk %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger btn-sm">Delete</button>
            </form>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}